firmware/
kicad files/gd rev3/._autosave-gd rev3.kicad_sch$
kicad files/gd power supply board pcb/gd ps rev1/calc-worksheet.xlsx
kicad files/gd power supply board pcb/gd ps rev1/gd power supply board pcb.xlsx
kicad files/gd rev3/gd rev3_log_missing3Dmodels.txt
kicad files/gd rev3/gd rev3_missing3Dmodels.txt
